<ion-header [translucent]="true">
  <ion-toolbar  color="secondary">
    <ion-title>
      Calibración de Equipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




 <ion-card>
 <ion-card-header>
  <ion-card-subtitle>Información Importante</ion-card-subtitle>
  <ion-card-title>Universidad de Costa Rica</ion-card-title>
</ion-card-header>

<ion-card-content>
  Esta aplicación es una herramienta más para la calibración de equipos de aplicación de herbicidas. 
<br>
  El usuario asume toda la responsabilidad por las decisiones tomadas a partir de su uso.

</ion-card-content>

<ion-grid>
<ion-row>
  <ion-col> </ion-col>
  <ion-col> <ion-button color="secondary">Aceptar</ion-button> </ion-col>
 <ion-col> </ion-col>
</ion-row>
</ion-grid>

<ion-img src="./assets/icon/firma-horizontal-dos-lineas-cmky.png" ></ion-img>
  
  <ion-img src="./assets/icon/Fabio.png" ></ion-img>

</ion-card>


</ion-content>
